.contents
  .contents-side
    .contents-side-user-header
      %p sample


      = link_to "#", class: "icon-link--white" do
        = fa_icon "cog"
      = link_to "#", class: "icon-link--white" do
        = fa_icon "edit"
    .contents-side-groups
  .contents-main
    .contents-main-group-header
    .contents-main-messages
    .contents-main-input
