.group-form
  %h1 チャットグループ編集
  %form#edit_group_22.edit_group{"accept-charset" => "UTF-8", :action => "/groups/22", :method => "post"}
    .group-form__errors
      %h2
        1件のエラーが発生しました。
        %ul
          %li エラーです
    .group-form__field.clearfix
      .group-form__field--left
        %label.group-form__label{:for => "group_name"} グループ名
      .group-form__field--right
        %input#group_name.group-form__input{:name => "group[name]", :placeholder => "グループ名を入力してください", :type => "text", :value => "ほげー"}/
    .group-form__field.clearfix
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
      /
        <div class='group-form__field--left'>
        <label class="group-form__label" for="group_チャットメンバーを追加">チャットメンバーを追加</label>
        </div>
        <div class='group-form__field--right'>
        <div class='group-form__search clearfix'>
        <input class='group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
        </div>
        <div id='user-search-result'></div>
        </div>
    .group-form__field.clearfix
      .group-form__field--left
        %label.group-form__label{:for => "group_チャットメンバー"} チャットメンバー
    .group-form__field.clearfix
      .group-form__field--left
      .group-form__field--right
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        %input.group-form__action-btn{"data-disable-with" => "Save", :name => "commit", :type => "submit", :value => "Save"}/
