.contents {
  display: flex;
  // 各ブロックでスクロールを実装するので、固定高で良い
  height: 100vh;
  width: 100%;

  .side-bar {
    // 上書き可能
    width: 300px;
  }

  &-main {
    // 横には画面を伸ばしたくない時はbasisを0に
    flex-grow: 1;
    flex-basis: 0;

    min-width: 600px;
    display: flex;
    flex-direction: column;

    &-group-header {
      padding: 15px 40px;
      display: flex;
      .group, .group--selected {
        flex-grow: 1;
        flex-basis: 0;
        // flexで決めた横幅で子要素をellipsisするとバグる
        // その親要素にもhiddenを追加することで解決
        overflow: hidden;
        &__name {
          font-size: 20px;
          color: #333333;
          margin: 15px 0;
        }
        &__users {
          font-size: 12px;
          color: $light_gray;
        }
      }
      a {
        height: 40px;
        margin: 28px 0 auto 20px;
      }
    }
    &-messages {
      flex-grow: 1;
      flex-basis: 0;
      overflow-y: scroll;
      background-color: #FAFAFA;
      border-top: solid 1px #EEEEEE;

      padding: 26px 40px 20px;

      .message {
        margin: 20px 0;
        &__header {
          margin-bottom: 10px;
          &__user-name {
            display: inline-block;
            font-size: 16px;
            color: $black;
            font-weight: bold;
          }
          &__posted-at {
            display: inline-block;
            font-size: 12px;
            color: $light_gray;
          }
        }
        &__body {
          font-size: 14px;
          color: $black;
        }
      }
    }
    &-input {
      background-color: #DDDDDD;
      padding: 20px 40px;
      .message-form {
        display: flex;
        &__field {
          // FIXME: なぜかrenderの時だけこれが効かない
          flex-grow: 1;
          flex-basis: 0;
          display: flex;
          align-items: center;
          &__body {
            flex-grow: 1;
            flex-basis: 0;
            height: 50px;
            border: none;
            color: $black;
            font-size: 16px;
            padding: 0 10px;
            // FIXME: textareaのrows:1がなぜか効かない（2行分が表示される）
            //        index.html.haml:31でもrows: 1を指定したが効かない
            rows: 1;
            resize: none;
          }
          &__image {
            // FIXME: 他の書き方がないか調べる（iconのwidthをハードコーディングする必要）
            $image-icon-width: 16px;
            margin-left: -10px - $image-icon-width;
            margin-right: 10px;
          }
        }
        &__submit-btn {
          margin-left: 15px;
        }
      }
    }
  }
}
