// FIXME: BEM命名規則に従えているのかについてFBお願い致します
//        厳密にやりすぎるとクラス名がかなり長くなるので、難しいなと感じております


.contents {
  display: flex;
  // 各ブロックでスクロールを実装するので、固定幅で良い
  height: 100vh;
  width: 100%;

  &-side {
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    &-user-header {
      background-color: #253141;
      display: flex;
      align-items: center;
      padding: 40px 20px;
      &__name {
        font-size: 16px;
        font-weight: bold;
        flex: 1;
        padding-right: 10px;
      }
      &__icons a {
        padding-left: 5px;
      }
    }
    &-groups {
      flex-grow: 1;
      flex-basis: 0;
      overflow-y: scroll;
      background-color: #2f3e51;
      padding: 0 20px;
      .group {
        padding: 20px 0;
        &__name {
          font-size: 15px;
          margin-bottom: 5px;
          // marginに対して行間が大きくなりすぎないようにする
          line-height: 1em;
        }
      }
      &__last-message {
        margin-bottom: 20px;
        font-size: 11px;
      }
    }
  }

  &-main {
    // 横には画面を伸ばしたくない時はbasisを0に
    flex-grow: 1;
    flex-basis: 0;

    min-width: 600px;
    display: flex;
    flex-direction: column;

    &-group-header {
      padding: 15px 40px;
      display: flex;
      .group {
        flex-grow: 1;
        flex-basis: 0;
        // flexで決めた横幅で子要素をellipsisするとバグる
        // その親要素にもhiddenを追加することで解決
        overflow: hidden;
        &__name {
          font-size: 20px;
          color: #333333;
          margin: 15px 0;
        }
        &__users {
          font-size: 12px;
          color: $gray-for-desc;
        }
      }
      a {
        height: 40px;
        margin: 28px 0 auto 20px;
      }
    }
    &-messages {
      flex-grow: 1;
      flex-basis: 0;
      overflow-y: scroll;
      background-color: #FAFAFA;
      border-top: solid 1px #EEEEEE;

      padding: 26px 40px 20px;

      .message {
        margin: 20px 0;
        &__header {
          margin-bottom: 10px;
          &__user-name {
            display: inline-block;
            font-size: 16px;
            color: $gray-for-title;
            font-weight: bold;
          }
          &__posted-at {
            display: inline-block;
            font-size: 12px;
            color: $gray-for-desc;
          }
        }
        &__body {
          font-size: 14px;
          color: $gray-for-title;
        }
      }
    }
    &-input {
      background-color: #DDDDDD;
      padding: 20px 40px;
      .message-form {
        display: flex;
        &__field {
          flex-grow: 1;
          flex-basis: 0;
          display: flex;
          align-items: center;
          &__body {
            flex-grow: 1;
            flex-basis: 0;
            height: 50px;
            border: none;
            color: $gray-for-title;
            font-size: 16px;
            padding: 0 10px;
            // FIXME: textareaのrows:1がなぜか効かない（2行分が表示される）
            //        index.html.haml:31でもrows: 1を指定したが効かない
            // rows: 1;
            // display: flex;
            // align-items: center;
            resize: none;
          }
          &__image {
            // FIXME: 他の書き方がないか調べる（iconのwidthをハードコーディングする必要）
            $image-icon-width: 16px;
            margin-left: -10px - $image-icon-width;
            margin-right: 10px;
          }
        }
        &__submit-btn {
          margin-left: 15px;
        }
      }
    }
  }
}
