.notification {
  .notice {
    background-color: $light-blue;
    color: white;
    text-align: center;
  }
  .alert {
    // text-align: center;
    background-color: #D65F4C;
    color: white;
    text-align: center;
  }
}
