// パーシャルを読み込む
@import "./reset";
@import "./variable";
@import "font-awesome";

// fontawesomeのリンクのデフォルト色、アンダーラインを消す
.icon-link {
  text-decoration: none;
  color: black;
  &--white {
    @extend.icon-link;
    color: white;
  }
}

.contents {
  // height: 100%;
  // width: 100%;
  display: flex;
  height: 100vh;
  width: 100%;
  .contents-side {
    width: 300px;
    display: flex;
    flex-direction: column;
    .contents-side-user-header {
      height: 100px; // TODO: 仮置き
      background-color: #253141;


    }
    .contents-side-groups {
      flex: 1;
      background-color: #2f3e51;
    }
  }

  .contents-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .contents-main-group-header {
      height: 100px; // TODO: 仮置き
    }
    .contents-main-messages {
      flex: 1;
      background-color: #FAFAFA;
      border-top: solid 1px #EEEEEE;
    }
    .contents-main-input {
      height: 100px; // TODO: 仮置き
      background-color: #DDDDDD;
    }
  }
}
