// パーシャルを読み込む
@import "./reset";
@import "./variable";
@import "font-awesome";

// fontawesomeのリンクのデフォルト色、アンダーラインを消す
.icon-link {
  text-decoration: none;
  color: black;
  &--white {
    @extend.icon-link;
    color: white;
  }
}

.contents {
  display: flex;
  // 文字列を折り返す前提なら、
  // これで文字が多すぎても全コンテンツが表示されるはず
  min-height: 100vh;
  width: 100%;
  .contents-side {
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    .contents-side-user-header {
      background-color: #253141;
      display: flex;
      align-items: center;
      padding: 40px 20px;
      .contents-side-user-header__name {
        font-size: 16px;
        font-weight: bold;
        flex: 1;
        // TODO: 他の要素にも適用が必要
        word-break: break-all;
        padding-right: 10px;
      }
      .contents-side-user-header__icons a {
        padding-left: 5px;
      }
    }
    .contents-side-groups {
      flex: 1;
      background-color: #2f3e51;
    }
  }

  .contents-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .contents-main-group-header {
      height: 100px; // TODO: 仮置き
    }
    .contents-main-messages {
      flex: 1;
      background-color: #FAFAFA;
      border-top: solid 1px #EEEEEE;
    }
    .contents-main-input {
      height: 100px; // TODO: 仮置き
      background-color: #DDDDDD;
    }
  }
}
