// パーシャルを読み込む
@import "./reset";
@import "config/colors";
@import "font-awesome";
@import "user"; // TODO: moduleディレクトリの作成などが必要

.flash {
  .notice {
    background-color: $light-blue;
    color: white;
    text-align: center;
  }
  .alert {
    // text-align: center;
    background-color: #D65F4C;
    color: white;
    text-align: center;
  }
}
@import "modules/ui_parts";
@import "modules/side_bar";
@import "messages/messages.scss";
